# Numpy tutorial

*Shift + Enter to run*

In [2]:
import numpy as np

In [3]:
print("Hello, World")

Hello, World

In [4]:
i = 45

In [5]:
print(7)

7

In [6]:
i

45

In [7]:
myarr=np.array([1, 2, 3], np.int8)

In [8]:
myarr

array([1, 2, 3], dtype=int8)

In [9]:
myarr[0]

np.int8(1)

In [10]:
myarr[2]

np.int8(3)

In [11]:
myarr1=np.array([[1, 2, 3]])

In [12]:
myarr1[0, 1]

np.int64(2)

In [13]:
myarr.shape

(3,)

In [14]:
myarr1.shape

(1, 3)

In [15]:
myarr.dtype

dtype('int8')

In [16]:
myarr1.dtype

dtype('int64')

In [17]:
list = np.array([[1, 2, 3], [7, 6, 5], [0, 4, 2]])

In [18]:
list

array([[1, 2, 3],
       [7, 6, 5],
       [0, 4, 2]])

In [19]:
list.dtype

dtype('int64')

In [20]:
list.shape

(3, 3)

In [21]:
list.size

9

In [22]:
zeros = np.zeros((2, 5))

In [23]:
zeros

array([[0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.]])

In [24]:
zeros.dtype

dtype('float64')

In [25]:
rng = np.arange(10)

In [26]:
rng

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [27]:
lspace=np.linspace(1, 12, 5)

In [28]:
lspace

array([ 1.  ,  3.75,  6.5 ,  9.25, 12.  ])

In [29]:
lspace1 = np.linspace(1, 10, 10)

In [30]:
lspace1

array([ 1.,  2.,  3.,  4.,  5.,  6.,  7.,  8.,  9., 10.])

In [31]:
emp = np.empty((3, 5))

In [32]:
emp

array([[0.00000000e+000, 0.00000000e+000, 0.00000000e+000,
        0.00000000e+000, 0.00000000e+000],
       [0.00000000e+000, 0.00000000e+000, 0.00000000e+000,
        0.00000000e+000, 0.00000000e+000],
       [0.00000000e+000, 0.00000000e+000, 0.00000000e+000,
        0.00000000e+000, 6.81019663e-310]])

*emp stores garbage value*

In [33]:
emp_like = np.empty_like(lspace)

In [34]:
emp_like

array([ 1.  ,  3.75,  6.5 ,  9.25, 12.  ])

In [35]:
ide = np.identity(5)

In [36]:
ide

array([[1., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0.],
       [0., 0., 1., 0., 0.],
       [0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 1.]])

In [37]:
ide.shape

(5, 5)

In [38]:
arr = np.arange(99)

In [39]:
arr

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
       34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50,
       51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67,
       68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84,
       85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98])

In [40]:
arr.reshape(3, 33)

array([[ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15,
        16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31,
        32],
       [33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48,
        49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64,
        65],
       [66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81,
        82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97,
        98]])

In [41]:
arr = np.arange(10)

In [42]:
arr

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [43]:
arr.reshape(2, 5)

array([[0, 1, 2, 3, 4],
       [5, 6, 7, 8, 9]])

In [44]:
arr = arr.reshape(2, 5)

In [45]:
arr

array([[0, 1, 2, 3, 4],
       [5, 6, 7, 8, 9]])

In [46]:
arr.ravel()

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [47]:
arr

array([[0, 1, 2, 3, 4],
       [5, 6, 7, 8, 9]])

In [48]:
arr.shape

(2, 5)

In [49]:
arr = arr.ravel()

In [50]:
arr

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [51]:
arr.shape

(10,)

In [52]:
x = [[1, 2, 3], [4, 5, 6], [7, 1, 0]]

In [53]:
arr = np.array(x)

In [54]:
arr

array([[1, 2, 3],
       [4, 5, 6],
       [7, 1, 0]])

Sum of elements in the direction of 0th axis

In [55]:
arr.sum(axis = 0)

array([12,  8,  9])

Sum of elements in the direction of 1st axis

In [56]:
arr.sum(axis = 1)

array([ 6, 15,  8])

In [57]:
arr.T

array([[1, 4, 7],
       [2, 5, 1],
       [3, 6, 0]])

In [58]:
for item in arr.flat:
    print (item)

1
2
3
4
5
6
7
1
0

To find number of dimensions

In [59]:
arr.ndim

2

In [60]:
arr.size

9

In [61]:
arr.nbytes

72

In [62]:
one = np.array([1, 3, 78, 32, 0])

In [63]:
one.argmax()

np.int64(2)

In [64]:
one.argmin()

np.int64(4)

In [65]:
one.argsort()

array([4, 0, 1, 3, 2])

The sorted numbers are indices

In [66]:
arr.argmin()

np.int64(8)

In [67]:
arr.argmax()

np.int64(6)

In [68]:
arr.argsort()

array([[0, 1, 2],
       [0, 1, 2],
       [2, 1, 0]])

In [69]:
arr.argmax(axis = 0)

array([2, 1, 1])

In [70]:
arr.argmax(axis = 1)

array([2, 2, 0])

In [71]:
arr.argsort(axis = 0)

array([[0, 2, 2],
       [1, 0, 0],
       [2, 1, 1]])

In [72]:
arr = arr.ravel()

In [73]:
arr.shape

(9,)

In [74]:
arr = arr.reshape(3, 3)

In [75]:
arr

array([[1, 2, 3],
       [4, 5, 6],
       [7, 1, 0]])

In [76]:
arr2 = np.array([[3, 5, 1], [7, 0, 1], [ 4, 2, 8]])

In [77]:
arr2

array([[3, 5, 1],
       [7, 0, 1],
       [4, 2, 8]])

In [78]:
arr+arr2

array([[ 4,  7,  4],
       [11,  5,  7],
       [11,  3,  8]])

In [79]:
[132, 43] + [32, -76]

[132, 43, 32, -76]

In [80]:
arr*arr2

array([[ 3, 10,  3],
       [28,  0,  6],
       [28,  2,  0]])

In [81]:
np.sqrt(arr)

array([[1.        , 1.41421356, 1.73205081],
       [2.        , 2.23606798, 2.44948974],
       [2.64575131, 1.        , 0.        ]])

In [82]:
arr.sum()

np.int64(29)

In [83]:
arr.max()

np.int64(7)

In [84]:
arr.min()

np.int64(0)

In [85]:
np.where(arr>5)

(array([1, 2]), array([2, 0]))

In [86]:
type(np.where(arr>5))

tuple

In [87]:
np.count_nonzero(arr)

8

In [88]:
np.nonzero(arr)

(array([0, 0, 0, 1, 1, 1, 2, 2]), array([0, 1, 2, 0, 1, 2, 0, 1]))

In [89]:
py_ar = [1, 2, 3, 4]

In [90]:
np_ar = np.array([1, 2, 3, 4])

In [91]:
import sys

In [92]:
sys.getsizeof(1) * len(py_ar)

112

In [93]:
np_ar.itemsize * np_ar.size

32

In [94]:
np.eye(3)

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

In [95]:
a = np.array([[1, 2], [3, 4]])
b = np.array([[2, 0], [1, 2]])
np.dot(a, b)

array([[ 4,  4],
       [10,  8]])

In [96]:
np.linalg.inv(a)

array([[-2. ,  1. ],
       [ 1.5, -0.5]])

In [97]:
np.linalg.det(a)

np.float64(-2.0000000000000004)

In [98]:
np.random.rand(3)

array([0.37080584, 0.50603372, 0.64873295])

In [99]:
np.random.randn(3)

array([-0.38222628,  1.36268562,  1.2027036 ])

In [100]:
np.random.randint(1, 10, size=3)

array([8, 4, 7], dtype=int32)

In [101]:
np.random.seed(7)

In [102]:
np.random.randn(3)

array([ 1.6905257 , -0.46593737,  0.03282016])

In [103]:
arr = np.array([1, 2, 3, 4])
np.random.shuffle(arr)

In [104]:
arr

array([3, 4, 2, 1])

In [105]:
math = np.array([87, 45, 67, 90, 56])

In [106]:
phy = np.array([65, 77, 89, 45, 70])

In [107]:
np.average(math)

np.float64(69.0)

In [108]:
np.average(phy)

np.float64(69.2)

In [109]:
sum = math+phy

In [110]:
sum

array([152, 122, 156, 135, 126])

In [111]:
np.argmax(sum)

np.int64(2)

In [112]:
a = np.array([math, phy])

In [113]:
a

array([[87, 45, 67, 90, 56],
       [65, 77, 89, 45, 70]])

In [114]:
np.average(a, axis = 1)

array([69. , 69.2])

In [115]:
np.average(a, axis = 0)

array([76. , 61. , 78. , 67.5, 63. ])

# Pandas Tutorial

In [116]:
import pandas as pd

In [117]:
df = pd.DataFrame([[1, 2, 3], [4, 5, 6], [7, 8, 9]])

In [118]:
df

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [119]:
df.head()

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [121]:
df = pd.DataFrame([[1, 2, 3], [4, 5, 6], [7, 8, 9]], columns = ["A", "B", "C"])

In [122]:
df

   A  B  C
0  1  2  3
1  4  5  6
2  7  8  9

In [123]:
df = pd.DataFrame([[1, 2, 3], [4, 5, 6], [7, 8, 9]], columns = ["A", "B", "C"], index = ["X", "Y", "Z"])

In [124]:
df

   A  B  C
X  1  2  3
Y  4  5  6
Z  7  8  9

In [125]:
df.head(1)

   A  B  C
X  1  2  3

In [126]:
df.head(2)

   A  B  C
X  1  2  3
Y  4  5  6

In [127]:
df.tail(1)

   A  B  C
Z  7  8  9

In [128]:
df.tail(2)

   A  B  C
Y  4  5  6
Z  7  8  9

In [129]:
df.columns

Index(['A', 'B', 'C'], dtype='object')

In [130]:
df.columns.tolist()

['A', 'B', 'C']

In [131]:
df.index

Index(['X', 'Y', 'Z'], dtype='object')

In [132]:
df.index.tolist()

['X', 'Y', 'Z']

In [133]:
df.info

<bound method DataFrame.info of    A  B  C
X  1  2  3
Y  4  5  6
Z  7  8  9>

In [134]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3 entries, X to Z
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       3 non-null      int64
 1   B       3 non-null      int64
 2   C       3 non-null      int64
dtypes: int64(3)
memory usage: 96.0+ bytes

In [135]:
df.describe()

         A    B    C
count  3.0  3.0  3.0
mean   4.0  5.0  6.0
std    3.0  3.0  3.0
min    1.0  2.0  3.0
25%    2.5  3.5  4.5
50%    4.0  5.0  6.0
75%    5.5  6.5  7.5
max    7.0  8.0  9.0

Number of unique values

In [137]:
df.nunique()

A    3
B    3
C    3
dtype: int64

In [138]:
df["A"].unique()

array([1, 4, 7])

In [141]:
df.shape

(3, 3)

In [143]:
pd.DataFrame([[1, 2, 3], [4, 5, 6], [7, 8, 9], [10, 11, 12]], columns = ["A", "B", "C"], index = ["X", "Y", "Z", "ZA"]).shape

(4, 3)

In [144]:
coffee = pd.read_csv('coffee.csv')

In [159]:
coffee

          Day Coffee Type  Units Sold
0      Monday    Espresso          25
1      Monday       Latte          15
2     Tuesday    Espresso          30
3     Tuesday       Latte          20
4   Wednesday    Espresso          35
5   Wednesday       Latte          25
6    Thursday    Espresso          40
7    Thursday       Latte          30
8      Friday    Espresso          45
9      Friday       Latte          35
10   Saturday    Espresso          45
11   Saturday       Latte          35
12     Sunday    Espresso          45
13     Sunday       Latte          35

In [146]:
coffee.head()

         Day Coffee Type  Units Sold
0     Monday    Espresso          25
1     Monday       Latte          15
2    Tuesday    Espresso          30
3    Tuesday       Latte          20
4  Wednesday    Espresso          35

In [147]:
results = pd.read_parquet("results.parquet")

In [149]:
results.head()

,year,type,discipline,event,as,athlete_id,noc,team,place,tied,medal
0,1912.0,Summer,Tennis,"Singles, Men (Olympic)",Jean-François Blanchy,1,FRA,None,17.0,True,None
1,1912.0,Summer,Tennis,"Doubles, Men (Olympic)",Jean-François Blanchy,1,FRA,Jean Montariol,NaN,False,None
2,1920.0,Summer,Tennis,"Singles, Men (Olympic)",Jean-François Blanchy,1,FRA,None,32.0,True,None
3,1920.0,Summer,Tennis,"Doubles, Mixed (Olympic)",Jean-François Blanchy,1,FRA,Jeanne Vaussard,8.0,True,None
4,1920.0,Summer,Tennis,"Doubles, Men (Olympic)",Jean-François Blanchy,1,FRA,Jacques Brugnon,4.0,False,None

In [153]:
!pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.1.5-py2.py3-none-any.whl.metadata (2.5 kB)
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-2.0.0-py3-none-any.whl.metadata (2.7 kB)
Downloading openpyxl-3.1.5-py2.py3-none-any.whl (250 kB)
Downloading et_xmlfile-2.0.0-py3-none-any.whl (18 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-2.0.0 openpyxl-3.1.5

In [154]:
olympics_data = pd.read_excel("olympics-data.xlsx")

In [155]:
olympics_data.head()

,athlete_id,name,born_date,born_city,born_region,born_country,NOC,height_cm,weight_kg,died_date
0,1,Jean-François Blanchy,1886-12-12,Bordeaux,Gironde,FRA,France,NaN,NaN,1960-10-02
1,2,Arnaud Boetsch,1969-04-01,Meulan,Yvelines,FRA,France,183.0,76.0,NaN
2,3,Jean Borotra,1898-08-13,Biarritz,Pyrénées-Atlantiques,FRA,France,183.0,76.0,1994-07-17
3,4,Jacques Brugnon,1895-05-11,Paris VIIIe,Paris,FRA,France,168.0,64.0,1978-03-20
4,5,Albert Canet,1878-04-17,Wandsworth,England,GBR,France,NaN,NaN,1930-07-25

In [161]:
olympics_data = pd.read_excel("olympics-data.xlsx", sheet_name = "results")

In [162]:
olympics_data.head()

,year,type,discipline,event,as,athlete_id,noc,team,place,tied,medal
0,1912.0,Summer,Tennis,"Singles, Men (Olympic)",Jean-François Blanchy,1,FRA,NaN,17.0,True,NaN
1,1912.0,Summer,Tennis,"Doubles, Men (Olympic)",Jean-François Blanchy,1,FRA,Jean Montariol,NaN,False,NaN
2,1920.0,Summer,Tennis,"Singles, Men (Olympic)",Jean-François Blanchy,1,FRA,NaN,32.0,True,NaN
3,1920.0,Summer,Tennis,"Doubles, Mixed (Olympic)",Jean-François Blanchy,1,FRA,Jeanne Vaussard,8.0,True,NaN
4,1920.0,Summer,Tennis,"Doubles, Men (Olympic)",Jean-François Blanchy,1,FRA,Jacques Brugnon,4.0,False,NaN

In [163]:
bios = pd.read_csv("bios.csv")

We'll be using bios and results from now on

In [164]:
bios.to_excel

<bound method NDFrame.to_excel of         athlete_id                   name   born_date        born_city  \
0                1  Jean-François Blanchy  1886-12-12         Bordeaux
1                2         Arnaud Boetsch  1969-04-01           Meulan
2                3           Jean Borotra  1898-08-13         Biarritz
3                4        Jacques Brugnon  1895-05-11      Paris VIIIe
4                5           Albert Canet  1878-04-17       Wandsworth
...            ...                    ...         ...              ...
145495      149222      Polina Luchnikova  2002-01-30            Serov
145496      149223    Valeriya Merkusheva  1999-09-20  Moskva (Moscow)
145497      149224        Yuliya Smirnova  1998-05-08           Kotlas
145498      149225         André Foussard  1899-05-19            Niort
145499      149814          Bill Phillips  1913-07-15     Dulwich Hill

                 born_region born_country        NOC  height_cm  weight_kg  \
0                    Gironde          FRA     France        NaN        NaN
1                   Yvelines          FRA     France      183.0       76.0
2       Pyrénées-Atlantiques          FRA     France      183.0       76.0
3                      Paris          FRA     France      168.0       64.0
4                    England          GBR     France        NaN        NaN
...                      ...          ...        ...        ...        ...
145495            Sverdlovsk          RUS        ROC      167.0       61.0
145496                Moskva          RUS        ROC      168.0       65.0
145497           Arkhangelsk          RUS        ROC      163.0       55.0
145498           Deux-Sèvres          FRA     France      166.0        NaN
145499       New South Wales          AUS  Australia        NaN        NaN

         died_date
0       1960-10-02
1              NaN
2       1994-07-17
3       1978-03-20
4       1930-07-25
...            ...
145495         NaN
145496         NaN
145497         NaN
145498  1986-03-18
145499  2003-10-20

[145500 rows x 10 columns]>

In [166]:
bios.to_parquet

<bound method DataFrame.to_parquet of         athlete_id                   name   born_date        born_city  \
0                1  Jean-François Blanchy  1886-12-12         Bordeaux
1                2         Arnaud Boetsch  1969-04-01           Meulan
2                3           Jean Borotra  1898-08-13         Biarritz
3                4        Jacques Brugnon  1895-05-11      Paris VIIIe
4                5           Albert Canet  1878-04-17       Wandsworth
...            ...                    ...         ...              ...
145495      149222      Polina Luchnikova  2002-01-30            Serov
145496      149223    Valeriya Merkusheva  1999-09-20  Moskva (Moscow)
145497      149224        Yuliya Smirnova  1998-05-08           Kotlas
145498      149225         André Foussard  1899-05-19            Niort
145499      149814          Bill Phillips  1913-07-15     Dulwich Hill

                 born_region born_country        NOC  height_cm  weight_kg  \
0                    Gironde          FRA     France        NaN        NaN
1                   Yvelines          FRA     France      183.0       76.0
2       Pyrénées-Atlantiques          FRA     France      183.0       76.0
3                      Paris          FRA     France      168.0       64.0
4                    England          GBR     France        NaN        NaN
...                      ...          ...        ...        ...        ...
145495            Sverdlovsk          RUS        ROC      167.0       61.0
145496                Moskva          RUS        ROC      168.0       65.0
145497           Arkhangelsk          RUS        ROC      163.0       55.0
145498           Deux-Sèvres          FRA     France      166.0        NaN
145499       New South Wales          AUS  Australia        NaN        NaN

         died_date
0       1960-10-02
1              NaN
2       1994-07-17
3       1978-03-20
4       1930-07-25
...            ...
145495         NaN
145496         NaN
145497         NaN
145498  1986-03-18
145499  2003-10-20

[145500 rows x 10 columns]>

In [167]:
bios.to_csv

<bound method NDFrame.to_csv of         athlete_id                   name   born_date        born_city  \
0                1  Jean-François Blanchy  1886-12-12         Bordeaux
1                2         Arnaud Boetsch  1969-04-01           Meulan
2                3           Jean Borotra  1898-08-13         Biarritz
3                4        Jacques Brugnon  1895-05-11      Paris VIIIe
4                5           Albert Canet  1878-04-17       Wandsworth
...            ...                    ...         ...              ...
145495      149222      Polina Luchnikova  2002-01-30            Serov
145496      149223    Valeriya Merkusheva  1999-09-20  Moskva (Moscow)
145497      149224        Yuliya Smirnova  1998-05-08           Kotlas
145498      149225         André Foussard  1899-05-19            Niort
145499      149814          Bill Phillips  1913-07-15     Dulwich Hill

                 born_region born_country        NOC  height_cm  weight_kg  \
0                    Gironde          FRA     France        NaN        NaN
1                   Yvelines          FRA     France      183.0       76.0
2       Pyrénées-Atlantiques          FRA     France      183.0       76.0
3                      Paris          FRA     France      168.0       64.0
4                    England          GBR     France        NaN        NaN
...                      ...          ...        ...        ...        ...
145495            Sverdlovsk          RUS        ROC      167.0       61.0
145496                Moskva          RUS        ROC      168.0       65.0
145497           Arkhangelsk          RUS        ROC      163.0       55.0
145498           Deux-Sèvres          FRA     France      166.0        NaN
145499       New South Wales          AUS  Australia        NaN        NaN

         died_date
0       1960-10-02
1              NaN
2       1994-07-17
3       1978-03-20
4       1930-07-25
...            ...
145495         NaN
145496         NaN
145497         NaN
145498  1986-03-18
145499  2003-10-20

[145500 rows x 10 columns]>

In [168]:
coffee.sample(10)

          Day Coffee Type  Units Sold
1      Monday       Latte          15
5   Wednesday       Latte          25
2     Tuesday    Espresso          30
9      Friday       Latte          35
3     Tuesday       Latte          20
12     Sunday    Espresso          45
11   Saturday       Latte          35
0      Monday    Espresso          25
4   Wednesday    Espresso          35
6    Thursday    Espresso          40

In [169]:
coffee

          Day Coffee Type  Units Sold
0      Monday    Espresso          25
1      Monday       Latte          15
2     Tuesday    Espresso          30
3     Tuesday       Latte          20
4   Wednesday    Espresso          35
5   Wednesday       Latte          25
6    Thursday    Espresso          40
7    Thursday       Latte          30
8      Friday    Espresso          45
9      Friday       Latte          35
10   Saturday    Espresso          45
11   Saturday       Latte          35
12     Sunday    Espresso          45
13     Sunday       Latte          35